In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob
import numpy as np

In [33]:
data_files = glob('data/ldt2_s??_data.csv')

dfs = [pd.read_csv(f) for f in data_files]
for idx, df in enumerate(dfs):
    # randomize the order of rows in the dataframe
    dfs[idx] = df.sample(frac=1).reset_index(drop=True)
    # add a column 'trial' that is the index of the row
    dfs[idx]['Trial'] = df.index
    

df = pd.concat(dfs)

# rename the condition column to Condition
df.rename(columns={'condition': 'Condition'}, inplace=True)

# replace 'ldt2_s' in df['ID'] with 'sub-'
df['ID'] = df['ID'].str.replace('ldt2_s', 'sub-')

# drop all rows where sub ID is > 10
df = df[df['ID'].str[-2:].astype(int) <= 10]

df['Group'] = np.NaN

# set Group to 'male' if ID is less than 6, otherwise set Group to 'female'
df.loc[df['ID'].str[-2:].astype(int) < 6, 'Sex'] = 'male'
df.loc[df['ID'].str[-2:].astype(int) >= 6, 'Sex'] = 'female'

# recorder columns as ['ID', 'Group', 'trial', 'condition', 'RT']
df = df[['ID', 'Sex', 'Trial', 'Condition', 'RT']]

df.head()

       ID   Sex  Trial Condition        RT
0  sub-01  male      0      word  0.466202
1  sub-01  male      1   nonword  0.668312
2  sub-01  male      2      word  0.458491
3  sub-01  male      3      word  0.462911
4  sub-01  male      4      word  0.435908

In [34]:
df.to_csv('data/ldt_2group_data.csv', index=False)